* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 20px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.text-primary {
  color: #fd6e0a;
}
.button-primary {
  background: #fd6e0a;
  border-radius: 5px;
  padding: 8px 30px;
  font-size: 18px;
  color: #ffffff;
  border: none;
}
.button-primary:hover {
  background-color: black;
  transition-delay: 0.05s;
}
.hero-section {
  padding-left: 100px;
  display: flex;
  align-items: center;
}
.image {
  width: 480px;
  margin: 0;
}
.sub-title {
  font-size: 30px;
}
.name-title {
  font-size: 80px;
}
.description {
  font-size: 20px;
}
header {
  background-color: white;
}
.hero-section {
  background-color: #fff8f3;
  padding-top: 40px;
  background-image: url(images/header_bg.png), url(images/developer.png);
  background-repeat: no-repeat;
  background-position: right -100px bottom, left;
  background-size: 60%, 65px;
}
div ul {
  list-style: none;
  display: flex;
  padding: 0;
}
div li {
  margin-right: 20px;
  margin-top: 20px;
}
.btn-c {
  background: #fd6e0a;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  border: none;
}
.btn-c:hover {
  background-color: black;
  transition-delay: 0.05s;
}
.About-Me {
  max-width: 800px;
  margin: 100px auto;
  margin-bottom: 30px;
  text-align: center;
  padding: 80px 80px;
  background-color: #fff8f3;
  border-radius: 10px;
}
.s-title {
  font-size: 30px;
  color: black;
}
.s-paragraph {
  font-size: 18px;
  color: black;
  margin-top: 10px;
}
.m-div {
  display: flex;
  margin: 10px auto;
  justify-content: space-around;
}
.What-i-do {
  max-width: 800px;
  margin: 30px auto;
  margin-bottom: 0;
  text-align: center;
  padding: 80px 80px;
}
.d-div {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.d-box{
    box-shadow: solid black 2px;
    padding: 10px 20px;
    border: solid black 1px;
    margin: 10px;
    margin-top: -40px;
}
.d-title{
    font-weight: bold;
    margin-top: 10px;
}
.d-pragrap{
margin-top: 10px;
font-size: 15px;
line-height: 22px;
}
.d-image{
    width: 30px;
}