* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 20px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.text-primary {
  color: #fd6e0a;
}
.button-primary {
  background: #fd6e0a;
  border-radius: 5px;
  padding: 8px 30px;
  font-size: 18px;
  color: #ffffff;
  border: none;
}
.button-primary:hover {
  background-color: black;
  transition-delay: 0.05s;
}
.hero-section {
  padding-left: 100px;
  display: flex;
  align-items: center;
}
.image {
  width: 480px;
  margin: 0;
}
.sub-title {
  font-size: 30px;
}
.name-title {
  font-size: 80px;
}
.description {
  font-size: 20px;
}
header {
  background-color: white;
}
.hero-section {
  background-color: #fff8f3;
  padding-top: 40px;
  background-image: url(images/header_bg.png), url(images/developer.png);
  background-repeat: no-repeat;
  background-position: right -100px bottom, left;
  background-size: 60%, 65px;
}
div ul {
  list-style: none;
  display: flex;
  padding: 0;
}
div li {
  margin-right: 20px;
  margin-top: 20px;
}
div a {
  margin-right: 20px;
  margin-top: 20px;
}
.btn-c {
  background: #fd6e0a;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  border: none;
}
.btn-c:hover {
  background-color: black;
  transition-delay: 0.05s;
}
.About-Me {
  max-width: 800px;
  margin: 100px auto;
  margin-bottom: 30px;
  text-align: center;
  padding: 80px 80px;
  background-color: #fff8f3;
  border-radius: 10px;
}
.s-title {
  font-size: 30px;
  color: black;
  text-align: center;
}
.s-paragraph {
  font-size: 18px;
  color: black;
  margin-top: 10px;
}
.m-div {
  display: flex;
  margin: 10px auto;
  justify-content: space-around;
}
.What-i-do {
  max-width: 800px;
  margin: 30px auto;
  margin-bottom: 0;
  text-align: center;
  padding: 80px 80px;
}
.d-div {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.d-box {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 20px 20px;
  margin: 10px;
  margin-top: -40px;
}
.d-title {
  font-weight: bold;
  margin-top: 10px;
}
.d-pragrap {
  margin-top: 10px;
  font-size: 15px;
  line-height: 22px;
}
.d-image {
  width: 30px;
}
.Resume-summary {
  max-width: 950px;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 80px 80px;
}
.rs-div {
  display: flex;
  margin: 10px auto;
  justify-content: space-around;
}
.rs-main {
  padding: 40px;
}
.rs-title3 {
  font-size: 24px;
  margin-bottom: 15px;
}
.rs-title4 {
  font-size: 20px;
}
.rs-pragrap1 {
  font-size: 16px;
  margin-bottom: 5px;
}
.rs-pragrap2 {
  font-size: 15px;
  margin-bottom: 10px;
}
.rs-line {
  margin-bottom: 10px;
}
.btn-cc {
  text-align: center;
}
div input {
  display: flex;
  border: 1px solid black;
  margin-bottom: 10px;
}
.f-connect {
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  gap: 100px;
}

footer {
  background-color: #fff8f3;
  padding: 50px;
}
.f-conn-t {
  font-size: 28px;
  margin-bottom: 15px;
}
.f-conn-p {
  font-size: 16px;
}
.f-connect-m {
  width: 50%;
}
form input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 20px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: white;
  color: black;
}
form input[type="text"],
input[type="email"] {
  height: 25px;
}
::placeholder {
  color: rgb(57, 54, 54);
}
